body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.container {
    margin-top: 20px;
}

.card-body {
    padding: 1rem 0 !important;
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
    text-align: justify;
}

.container-fluid.row {
    padding-top: 6rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.6s ease;
}

.card-img-top:hover {
    transform: scale(1.8);
}