@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.span-brand {
  color: palevioletred;
}

.navbar {
  position: relative;
  z-index: 1;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: palevioletred !important;
}

.dropdown-item:hover {
  background-color: palevioletred;
}

.btn-nav {
  margin-left: 70px;
}

.btn-nav:hover {
  background-color: palevioletred;
}

/* Destop Version */

@media (min-width: 992px) {
  .navbar-brand {
    font-family: "Roboto", sans-serif !important;
    font-weight: bolder;
  }

  .menu {
    color: black !important;
    margin-right: 20px;
  }

  .menu:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid palevioletred;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .btn-nav {
    margin-left: 20px;
  }

  .drop-menu {
    margin-left: 20px !important;
  }
}