.dropdown-item:hover {
  background-color: silver;
}

.dropdown-item {
  color: gray;
}

/* Destop Version */

@media (min-width: 992px) {
  .menu {
    color: gray !important;
    margin-right: 20px;
  }

  .menu:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid gray;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
