.left {
  background-image: url(../images/tekno.jpg);
  background-size: cover;
  height: 300px;
  margin-top: -5px;
}

.right {
  background: radial-gradient(#c2c6eb, rgb(177, 196, 207), #d5d9e4);
}

.form-regis {
  margin-top: 75px;
}

.h1-title {
  margin-left: -3px;
}

.btn-sub {
  margin-left: 0;
}

.privacy {
  margin-top: 130px;
  color: gray;
}

.span-color {
  color: black;
}

/* Destop Version */

@media (min-width: 992px) {
  .left {
    background-size: cover;
    height: 667px;
  }

  .right {
    margin-top: -5px;
  }

  .form-regis {
    margin-top: 60px;
  }

  .btn-sub {
    margin-left: 0;
  }

  .privacy {
    margin-top: 130px;
    color: gray;
  }

  span {
    color: black;
  }
}